<section class="grid grid-rows-[4rem_1fr]">
  <table *ngIf="(courses | async)?.length" mat-table [dataSource]="(courses | async) || []">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let course"> {{ course.id }} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let course"> {{ course.name }} </td>
    </ng-container>

    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef> Fecha de Inicio </th>
      <td mat-cell *matCellDef="let course"> {{ course.startDate }} </td>
    </ng-container>

    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef> Fecha de Fin </th>
      <td mat-cell *matCellDef="let course"> {{ course.endDate }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let course; index as i">
        <div class="flex justify-end gap-1">
          <button mat-icon-button matTooltip="Ver estudiantes" (click)="openCourseDetailModal(course)">
            <mat-icon class="text-gray-600">badge</mat-icon>
          </button>

          <button mat-icon-button matTooltip="Editar" (click)="openEditCourseModal(course)">
            <mat-icon class="text-gray-600">edit</mat-icon>
          </button>

          <button mat-icon-button color="warn" matTooltip="Eliminar" (click)="openDeleteCourseConfirmation(course.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
</section>
