<section class="grid grid-rows-[4rem_1fr]">
  <table *ngIf="(inscriptions | async)?.length" mat-table [dataSource]="(inscriptions | async) || []">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let inscription as InscriptionData">
        {{ inscription.id }}
      </td>
    </ng-container>

    <ng-container matColumnDef="studentName">
      <th mat-header-cell *matHeaderCellDef> Nombre del Estudiante</th>
      <td mat-cell *matCellDef="let inscription as InscriptionData">
        {{ inscription.student.name | fullName: inscription.student.surname }}
      </td>
    </ng-container>

    <ng-container matColumnDef="courseName">
      <th mat-header-cell *matHeaderCellDef> Curso </th>
      <td mat-cell *matCellDef="let inscription as InscriptionData">
        {{ inscription.course.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let inscription as InscriptionData; index as i">
        <div class="flex justify-end gap-1">
          <button mat-icon-button matTooltip="Editar" (click)="openEditInscriptionModal(inscription)">
            <mat-icon class="text-gray-600">edit</mat-icon>
          </button>

          <button mat-icon-button color="warn" matTooltip="Eliminar" (click)="openDeleteInscriptionConfirmation(inscription.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
</section>
