<div class="bg-indigo-500 h-full">
  <mat-nav-list>
    <a routerLink="home" routerLinkActive="active" mat-list-item>
      <mat-icon matListItemIcon>home</mat-icon>
      Inicio
    </a>

    <a *ngIf="isAdmin" routerLink="users" routerLinkActive="active" mat-list-item>
      <mat-icon matListItemIcon>person</mat-icon>
      Usuarios
    </a>

    <a routerLink="students" routerLinkActive="active" mat-list-item>
      <mat-icon matListItemIcon>badge</mat-icon>
      Estudiantes
    </a>

    <a routerLink="courses" routerLinkActive="active" mat-list-item>
      <mat-icon matListItemIcon>school</mat-icon>
      Cursos
    </a>

    <a routerLink="inscriptions" routerLinkActive="active" mat-list-item>
      <mat-icon matListItemIcon>check</mat-icon>
      Inscripciones
    </a>

    <a mat-list-item (click)="logout()">
      <mat-icon matListItemIcon>logout</mat-icon>
      Cerrar sesión
    </a>
  </mat-nav-list>
</div>
